<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">会員情報編集</h4>
      <table class="table table-borderless">
        <%= form_with model: @customer, url:customers_information_path, method: :patch do |f| %>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana %></td>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code %></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
          <td></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number %></td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
          <td><%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>