<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">マイページ</h4>
      <div class="d-flex align-items-center">
        <h3><strong>登録情報</strong></h3>
        <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success ml-3" %>
      </div>
      <table class="table table-bordered">
        <tr>
          <td class="bg-light">氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td class= "bg-light">カナ</td>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <td class="bg-light">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="bg-light">電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
      <div class="d-flex align-items-center">
        <h3><strong>配送先</strong></h3>
        <%= link_to "一覧を見る", "#", class: "btn btn-primary ml-3" %>
      </div>
      <div class="d-flex align-items-center">
        <h3><strong>注文履歴</strong></h3>
        <%= link_to "一覧を見る", "#", class:"btn btn-primary ml-3" 
      </div> 
    </div>
  </div>
</div>