<%= form_with model: [:admin, item ], local: true do |f| %>
  <div class="bg-gray row">
    <table class="form-new table table-borderless col-md-6 mx-auto">
      <tr class="form-group">
        <th><%= f.label :image, "商品画像" %></th>
        <td><%= f.file_field :image %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :name, "商品名" %></th>
        <td><%= f.text_field :name, placeholder: "商品名", size: "30", class: "form-control" %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :introduction, "商品説明" %></th>
        <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", :cols => 30, :rows => 5, class: "form-control" %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :genre_id, "ジャンル" %></th>
        <td><%= f.collection_select :genre_id, Genre.all, :id, :name,{ prompt: "選択して下さい" }, class: "form-control" %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :price, "税抜価格" %></th>
        <td><%= f.text_field :price, placeholder: "1000", size: "30", class: "form-control" %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :is_active, "販売ステータス" %></th>
        <td class="font-weight-bold">
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
        </td>
      </tr>
    </table>
  </div>
  <div class="d-grid col-2 mx-auto">
    <% if f.object.new_record? %>
      <%= f.submit "新規登録", class: "py-2 px-4 btn btn-success submit-btn" %>
    <% else %>
      <%= f.submit "変更を保存", class: "py-2 px-4 btn btn-success submit-btn" %>
    <% end %>
  </div>
<% end %>
