<div class="container px-1 py-2">
  <h2>商品詳細</h2>

  <div class="mt-4 row">
    <div class="p-4 col-lg-6 text-center">
      <%= image_tag @item.image_convert_for_show %>
    </div>
    <div class=" col-lg-6">
      <table class="table table-borderless">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格<br>(税抜価格)</td>
          <td><%= number_with_precision(@item.with_tax_price, precision: 0, delimiter: ',') %>円<br><%= number_with_precision(@item.price, precision: 0, delimiter: ',') %>円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @item.is_active %>
              <div class="text-success">販売中</div>
            <% else %>
              <div class="text-secondary">販売停止中</div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="text-center">
    <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
  </div>

</div>