<div class="container">
  <div class="row">
    <h3 class="col mt-4">管理者ログイン</h3>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <table class="table table-sm table-borderless col-8 mx-auto mt-4">
        <tr class="form-group">
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, class: "form-control",style: "width:80%", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
        </tr>
        <tr class="form-group">
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, class: "form-control ",style: "width:80%" ,autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr class="form-group">
          <td></td>
          <td>
            <div class="active">
              <%= f.submit "ログイン", class: "btn btn-primary submit-btn w-50"%>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

