<div class="container p-2">
  <% if @type == "items_name" %>
    <div class="row m-3">
      <h2>"<%= @keyword %>"の検索結果</h2>
      <p class="mt-3 mb-0">(全<%= @results.count %>件)</p>
    </div>
    <%= render "public/items/index", items: @results %>
  <% else %>
    <div class="row m-3">
      <h2>"<%= @keyword %>"の検索結果</h2>
      <p class="mt-3 mb-0">(全<%= @results.count %>件)</p>
    </div>
    <%= render "admin/customers/index", customers: @results %>
  <% end %>
</div>