<div class="container px-1 py-2">
  <div class="row">
    <div class="col-xl-2 mt-4">
      <%= render 'public/searches/genre_sidebar', genres: @genres %>
    </div>
    <div class="col-xl-10">
      <div class="d-flex align-items-center">
        <h2>"<%= @keyword %>"の検索結果</h2>
        <p class="m-3 mb-0">(全<%= @results_all.count %>件)</p>
      </div>
      <hr class="heading-line">
      <%= render "public/items/items_index", items: @results %>
      <div class="row">
        <div class="col text-center m-3">
          <%= link_to_prev_page @results, '戻る', class: "paginate py-2 px-4" %>
          <%= link_to_next_page @results, '次へ', class: "paginate py-2 px-4" %>
        </div>
      </div>
    </div>
  </div>
</div>