<div class="container d-flex flex-row px-5">

    <!--ジャンル検索-->
    <div class="col-3">
      <table class="table">
        <thead>
          <tr  class="table-light">
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>ケーキ</td>
            </tr>
            <tr>
              <td>プリン</td>
            </tr>
            <tr>
              <td>焼き菓子</td>
            </tr>
            <tr>
              <td>キャンディ</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="col-8">

  　<!--トップ画像-->
      <div class="card">
        <%= image_tag 'top-image', class: "" %>
        <div class="card-img-overlay d-flex">
          <div class="text-white m-auto">
            <h1>ようこそ、<strong>ながのCAKE</strong>へ！</h1>
            <p>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>

      <!--新着商品-->
      <div class="mt-5 mb-2">
        <h2>新着商品</h2>
        <div class="d-flex flex-wrap">
          <% @items.last(4). each do |item| %>
          <div class="card w-30 m-1 p-2">
            <%= image_tag item.image, size: '160x160', class: "card-img-top mx-auto " %>
            <div class="card-body">
              <p class="card-title"><%= item.name %></p>
              <p class="card-subtitle">￥<%= item.price %></p>
            </div>
          </div>
          <% end %>
        </div>
          <p><%= link_to '全ての商品を見る ▶', items_path %></p>
      </div>

    </div>
</div>