<div class="container px-1 py-2">
  <%= render 'layouts/errors', obj: @customer %>
  <div class="row mt-5">
    <div class="col-12 col-lg-8 mx-auto">
      <h2><%= @customer.full_name %>さんの会員情報編集</h2>
      <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
        <div class="bg-gray">
          <table class="form-new table table-borderless">
            <tr><th scope="col">会員ID</th><td><%= @customer.id %></td></tr>
              <tr>
                <th scope="col">氏名</th>
                <td>
                  <div class="field d-flex justify-content-between">
                    <%= f.text_field :last_name, class: "form-control mr-1" %>
                    <%= f.text_field :first_name, class: "form-control" %>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col">フリガナ</th>
                <td>
                  <div class="field d-flex justify-content-between">
                    <%= f.text_field :last_name_kana, class: "form-control mr-1" %>
                    <%= f.text_field :first_name_kana, class: "form-control" %>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col">郵便番号</th>
                <td>
                  <div class="field">
                    <%= f.text_field :postal_code, class: "form-control" %>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col">住所</th>
                <td>
                  <div class="field">
                    <%= f.text_field :address, class: "form-control" %>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col">電話番号</th>
                <td>
                  <div class="field">
                    <%= f.text_field :telephone_number, class: "form-control" %>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col">メールアドレス</th>
                <td>
                  <div class="field">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col">会員ステータス</th>
                <td>
                  <%= f.radio_button :is_active, "true" %>
                  <%= f.label :is_active_true, "有効" %>
                  <%= f.radio_button :is_active, "false" %>
                  <%= f.label :is_active_false, "退会" %>
                </td>
              </tr>
          </table>
        </div>
        <%= f.submit '変更を保存', class: "btn btn-success w-25" %>
      <% end %>
    </div>
  </div>
</div>
