<div class="container px-1 py-2">
  <div class="row mt-5">
    <% if @type === "items" %>
      <h2>"<%= @keyword %>"に一致する商品</h2>
      <hr class="heading-line">
      <%= render "admin/items/index", items: @results %>
    <% else %>
      <h2>"<%= @keyword %>"に一致する会員</h2>
      <hr class="heading-line">
      <%= render "admin/customers/index", customers: @results %>
    <% end %>
  </div>
  <div class="row">
    <div class="col text-center m-4">
      <%= link_to_prev_page @results, '戻る', class: "paginate py-2 px-4" %>
      <%= link_to_next_page @results, '次へ', class: "paginate py-2 px-4" %>
    </div>
  </div>
</div>