<div class="container px-1 py-2">
  <%= render 'layouts/errors', obj: @genre %>
  <h2>ジャンル編集</h2>
  <hr class="heading-line">

  <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
    <div class="row py-4">
      <div class="form">
        <%= f.label "ジャンル名", class: "form_label" %>
        <%= f.text_field :name, class: "form_control genre-text-field ml-5" %>
      </div>
      <%= f.submit "変更を保存", class: "btn btn-success submit-btn ml-5" %>
    </div>
  <% end %>
</div>