<div class="col-md-12 mt-3">
  <%= form_with model: address, local: true do |f| %>
    <div class="form-group col-md-12">
      <%= f.label :"郵便番号（ハイフンなし）", class: "col-md-3" %>
      <%= f.text_field :postal_code, class: "col-md-4" %>
    </div>
    <div class="form-group col-md-12">
      <%= f.label :"住所", class: "col-md-3" %>
      <%= f.text_field :address, class: "col-md-4" %>
    </div>
    <div class="form-group col-md-12">
      <%= f.label :"氏名", class: "col-md-3" %>
      <%= f.text_field :name, class: "col-md-4" %>
    </div>

    <% if params[:action] == 'edit' %>
      <div class="row">
        <%= f.submit "変更内容を保存", class: "col-md-2 btn btn-lg btn-success pull-right" %>
      </div>
    <% else %>
      <div class="row">
        <%= f.submit "新規登録", class: "col-md-2 btn btn-lg btn-success pull-right" %>
      </div>
    <% end %>
  <% end %>
</div>