<div class="container">
  <div class="row">
    <h2>ショッピングカート</h2>
    <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, local: true %>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <td>商品名</td>
          <td>単価(税込)</td>
          <td>数量</td>
          <td>小計</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= @cart_items.each do |cart_item| %>
            <td>
              <%= image_tag cart_item.item.image size: '32x18' %><%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.item.subtotal %></td>
            <td><%= link_to "削除する", cart_item_path, method: :destroy %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>