<div class="container py-3">
  <h2 class="mx-auto mb-4">注文情報確認</h2>
  <hr class="heading-line">
  <div class="row">
    <div class="col-12 col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr class="color-orange pointer-none text-center">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="align-middle p-2">
                <div class="row">
                  <div class="col-lg-6 text-center">
                    <%= image_tag cart_item.item.image, size: '64x36', style: "object-fit: cover;" %>
                  </div>
                  <div class="col-lg-6 text-center">
                    <%= cart_item.item.name %>
                  </div>
                </div>
              </td>
              <td class="text-right pr-4">
                ￥<%= number_with_precision(cart_item.item.with_tax_price, precision: 0, delimiter: ',') %>
              </td>
              <td class="text-center">
                <%= cart_item.amount %>
              </td>
              <td class="text-right">
                ￥<%= number_with_precision(cart_item.subtotal, precision: 0, delimiter: ',') %>
              </td>
            </tr>
            <% @total_price += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-12 col-md-4 d-flex align-items-end">
      <table class="table table-bordered">
        <tr>
          <th class="color-orange pointer-none">合計金額</th>
          <td class="text-right">￥<%= number_with_precision(@total_price, precision: 0, delimiter: ',') %></td>
        </tr>
        <tr>
          <th class="color-orange pointer-none">送料</th>
          <td class="text-right">￥<%= @shipping_cost %></td>
        </tr>
        <tr>
          <th class="color-orange pointer-none">お支払い金額</th>
          <td class="text-right">￥<%= number_with_precision(@total_price + SHIPPING_COST, precision: 0, delimiter: ',') %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="bg-orange">
    <h3>支払方法</h3>
    <hr class="heading-line">
    <div class="col mb-4 ml-5">
      <p><b><%= @order.payment_method_i18n %></b></p>
    </div>
  </div>
  <div class="bg-orange">
    <h3>お届け先</h3>
    <hr class="heading-line">
    <div class="col mb-4 ml-5">
      <p><b>
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %>
      </b></p>
    </div>
  </div>
  <div class="col-2 mx-auto">
    <%= form_with model: @order_new, url: '/orders' do |f| %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.hidden_field :postal_code, value: @order.postal_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :shipping_cost, value: @shipping_cost %>
      <%= f.hidden_field :total_payment, value: @total_price + SHIPPING_COST %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :status, value: "waiting" %>
      <%= f.submit '注文を確定する', class: "btn" %>
    <% end %>
  </div>
</div>