<!--並び順を新しい順にする-->
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr class="color-orange pointer-none text-center">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td class="text-center">
          <%= order.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td>
          <%= order.address %>
        </td>
        <td>
          <% order.order_details.each do |order_detail| %>
            <li class="list-unstyled text-center">
              <%= link_to item_path(order_detail.item_id), class: "text-info" do %>
                <%= order_detail.item.name %>
              <% end %>
            </li>
          <% end %>
        </td>
        <td class="text-right">
          ￥<%= number_with_precision(order.total_payment, precision: 0, delimiter: ',') %>
        </td>
        <td class="text-center">
          <%= order.status_i18n %>
        </td>
        <td class="text-center">
          <%= link_to '表示する', order_path(order.id), class: "btn btn-info" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @orders, theme: 'bootstrap-5' %>