<h2>ログイン</h2>

<h3>会員の方はこちらからログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h3>会員登録がお済みでない方</h3>
  <p><%= render "public/shared/links" %>から新規会員登録を行ってください。</p>

