<div class="container p-2">
  <div class="row">
    <h2>商品一覧</h2>
    <p>(全<%= @items.count %>件)</p>
  </div>
  <div class="row">
    <% @items.each do |item| %>
     <%= link_to item_path(item), local: true do %>
        <div class="col-2 link-opacity-50-hover">
          <%= image_tag item.image, size: "160×90" %>
          <p class="font-weight-bold"><%= item.name %></p>
          <p>￥<%= item.with_tax_price %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>