<div class="container px-1 py-2">
  <div class="row">
    <div class="col-2">
      <%= render 'public/searches/genre_sidebar', genres: @genres %>
    </div>
    <div class="col-10">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-6 p-4">
      
            <%= image_tag @item.image_convert_for_show, class: "d-block ml-auto img-fluid" %>
      
          </div>
      
          <div class="col">
            <div class="p-3">
              <h2 class="mb-2"><%= @item.name %></h2>
              <p class="mb-5"><%= @item.introduction %></p>
              <p><strong class="h3">￥<%= number_with_precision(@item.with_tax_price, precision: 0, delimiter: ',') %></strong>(税込)</p>
      
              <% if @item.is_active %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-secondary">販売停止中</p>
              <% end %>
              <% if @item.is_active %>
                <%= form_with model: @cart_item, url: cart_items_path, local: true, class: "form-inline" do |f| %>
                  <div class="container">
                    <div class="row  mt-4">
                    <p>数量を選択してください。</p>
                    </div>
                    <%= f.select :amount, *[1..10], {include_blank: "個数選択"}, class: 'custom-select' %>個<br>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.hidden_field :customer_id, value: current_customer.id %>
                    <%= f.submit "カートに入れる", class: "mt-4 btn btn-success" %>
                  <% end %>
      
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



