<header class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 my-4">
        <%= link_to root_path do %>
          <%= image_tag 'NAGANOCAKE.jpg', size: '320x64', class: "ml-5" %>
        <% end %>
      </div>
        <div class="col-3 d-flex align-items-center justify-content-center text-white">
          <% if customer_signed_in? %>
            <p>ようこそ、<strong><%= current_customer.last_name %></strong>さん！</p>
          <% end %>
        </div>

      <div class="col-6">

        <% if admin_signed_in? %>
          <div class="d-flex justify-content-end">
            <%= link_to '商品一覧', admin_items_path, class: "btn btn-light m-2" %>
            <%= link_to '会員一覧', admin_customers_path, class: "btn btn-light m-2" %>
            <%= link_to '注文履歴一覧', admin_orders_path, class: "btn btn-light m-2" %>
            <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-light m-2" %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-light m-2" %>
          </div>
        <% elsif customer_signed_in? %>
          <div class="d-flex justify-content-end">
            <%= link_to 'マイページ', customers_my_page_path, class: "btn btn-light m-2" %>
            <%= link_to '商品一覧', items_path, class: "btn btn-light m-2" %>
            <%= link_to 'カート', cart_items_path, class: "btn btn-light m-2" %>
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-light m-2" %>
          </div>
        <% else %>
          <div class="d-flex justify-content-end">
            <%= link_to 'About', about_path, class: "btn btn-light m-2" %>
            <%= link_to '商品一覧', items_path, class: "btn btn-light m-2" %>
            <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-light m-2" %>
            <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-light m-2" %>
          </div>
        <% end %>

        <div class="seach text-right m-2">
          <div>
            <% if admin_signed_in? %>
              <%= form_with url: admin_search_path, method: :get do |f| %>
                <%= f.radio_button :search_obj, :customers, checked: "checked", value: "customers", class: "cursor"%>
                <%= f.label :search_obj_customers, "ユーザー", class: "cursor" %>
                <%= f.radio_button :search_obj, :items, value: "items", class: "cursor" %>
                <%= f.label :search_obj_items, "商品", class: "cursor" %>
                <%= f.text_field :keyword, placeholder: " 検索" %>
                <%= button_tag type: "submit", class: "btn-light" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= form_with url: search_path, method: :get do |f| %>
                <%= f.text_field :keyword, placeholder: " 商品検索" %>
                <%= button_tag type: "submit", class: "btn-light" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>