<header>
  <div class="container-fluid" style="background-color:#94846a;">
    <div class="row">
      <div class="col-4">
        <%= image_tag 'top-image', size: '200x100' %>
      </div>
      <div class="col-8">
        <!--ログイン未の時（ログインできるようになってからifで分ける）-->
        <div class="d-flex justify-content-end">
          <%= link_to 'About', about_path, class: "btn btn-light m-2" %>
          <%= link_to '商品一覧（routes修正したら確認）', items_path, class: "btn btn-light m-2" %>
          <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-light m-2" %>
          <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-light m-2" %>
        </div>
        <!--customerログイン時(後でマイページ・カートにcurrent_user.idを付ける)-->
        <div class="d-flex justify-content-end">
          <%= link_to 'マイページ（ログイン出来たら確認）', customers_my_page_path, class: "btn btn-light m-2" %>
          <%= link_to '商品一覧（routes修正したら確認）', items_path, class: "btn btn-light m-2" %>
          <%= link_to 'カート（routes修正したら確認）', cart_items_path, class: "btn btn-light m-2" %>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-light m-2" %>
        </div>
        <!--adminログイン時(後で注文履歴一覧のビューもルーティングもないのでリンク飛ばない。追加する？)-->
        <div class="d-flex justify-content-end">
          <%= link_to '商品一覧（routes修正したら確認）', items_path, class: "btn btn-light m-2" %>
          <%= link_to '会員一覧', admin_customers_path, class: "btn btn-light m-2" %>
          <%= link_to '注文履歴一覧（ビューとルーティング作る）', orders_path, class: "btn btn-light m-2" %>
          <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-light m-2" %>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-light m-2" %>
        </div>
      </div>
    </div>
    <% if admin_signed_in? %>
      <div class="search row ml-auto">
        <%= form_with (model: [ :admin, @search ]) , method: :get, local: true do |f| %>
          <%= f.text_field :word %>
          <%= form.radio_button :search_obj %>
          <%= form.label :customers, "ユーザー" %>
          <%= form.radio_button :search_obj %>
          <%= form.label :items, "商品" %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    <% else %>
      <div class="seach row ml-auto">
        <%= form_with model: @search do |f| %>
          <%= f.text_field :word %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    <% end %>
  </div>
</header>