<header>
  <div class="container-fluid" style="background-color:#94846a;">
    <div class="row">
      <div class="col-4">
        <%= image_tag 'top-image', size: '200x100' %>
      </div>
      <div class="col-8">
        <!--ログイン未の時（ログインできるようになってからifで分ける）-->
        <div class="d-flex justify-content-end">
          <%= link_to 'About', about_path, class: "btn btn-light m-2" %>
          <%= link_to '商品一覧（routes修正したら確認）', items_path, class: "btn btn-light m-2" %>
          <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-light m-2" %>
          <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-light m-2" %>
        </div>
        <!--customerログイン時(後でマイページ・カートにcurrent_user.idを付ける)-->
        <div class="d-flex justify-content-end">
          <%= link_to 'マイページ（ログイン出来たら確認）', customers_my_page_path, class: "btn btn-light m-2" %>
          <%= link_to '商品一覧（routes修正したら確認）', items_path, class: "btn btn-light m-2" %>
          <%= link_to 'カート（routes修正したら確認）', cart_items_path, class: "btn btn-light m-2" %>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-light m-2" %>
        </div>
        <!--adminログイン時(後で注文履歴一覧のビューもルーティングもないのでリンク飛ばない。追加する？)-->
        <div class="d-flex justify-content-end">
          <%= link_to '商品一覧（routes修正したら確認）', items_path, class: "btn btn-light m-2" %>
          <%= link_to '会員一覧', admin_customers_path, class: "btn btn-light m-2" %>
          <%= link_to '注文履歴一覧（ビューとルーティング作る）', orders_path, class: "btn btn-light m-2" %>
          <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-light m-2" %>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-light m-2" %>
        </div>
      </div>
    </div>
      <div class="seach row pb-2 m-2">
        <div class="ml-auto">
          <% if admin_signed_in? %>
            <%= form_with url: admin_search_path, method: :get do |f| %>
              <%= f.text_field :keyword %>
              <br>
              <%= f.radio_button :search_obj, :type, checked: "checked", value: "customers" %>
              <%= f.label :customers, "ユーザー" %>
              <%= f.radio_button :search_obj, :type, value: "items_name" %>
              <%= f.label :items, "商品" %>
            <% end %>
          <% else %>
            <%= form_with url: search_path, method: :get do |f| %>
              <%= f.text_field :keyword %>
              <%= f.hidden_field :type, value: "items_name" %>
              <%= f.submit "検索" %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</header>