<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/867c591370.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
